*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0B0B0B;
    color:white;
    font-family:'Inter',sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:40px 20px;
}

.container{
    width:100%;
    max-width:500px;
    text-align:center;
}

h1{
    font-size:58px;
    letter-spacing:10px;
    font-weight:600;
    margin-bottom:10px;
}

.small{
    color:#888;
    letter-spacing:8px;
    font-size:12px;
    margin-bottom:10px;
}

.subtitle{
    color:#aaa;
    margin-bottom:40px;
}

.divider{
    width:100%;
    height:1px;
    background:#222;
    margin:35px 0;
}

h2{
    font-size:32px;
    font-weight:600;
    margin-bottom:15px;
}

.details{
    color:#bdbdbd;
    line-height:1.8;
    margin-bottom:10px;
}

.count-title{
    color:#888;
    letter-spacing:4px;
    font-size:12px;
    margin-bottom:25px;
}

#countdown{
    display:flex;
    justify-content:center;
    gap:30px;
}

#countdown div{
    display:flex;
    flex-direction:column;
}

#countdown span{
    font-size:42px;
    font-weight:700;
}

#countdown small{
    color:#888;
    letter-spacing:2px;
    margin-top:5px;
}

.notice{
    color:#d6d6d6;
    line-height:1.8;
    margin-bottom:30px;
}
.button{
    display:block;
    width:100%;
    padding:18px;
    margin-top:18px;
    text-decoration:none;
    color:white;
    border:1px solid #333;
    border-radius:14px;
    transition:0.3s;
    font-weight:500;
}

.button:hover{
    background:white;
    color:black;
}

.footer{
    color:#666;
    margin-top:50px;
    font-size:14px;
}

.logo{
    width:130px;
    margin-bottom:35px;
}

.glow{
    position:fixed;
    width:500px;
    height:500px;
    background:radial-gradient(circle,rgba(255,255,255,.08),transparent 70%);
    top:-150px;
    left:50%;
    transform:translateX(-50%);
    pointer-events:none;
    z-index:-1;
}

@media(max-width:600px){

h1{
    font-size:42px;
}

h2{
    font-size:24px;
}

#countdown{
    gap:18px;
}

#countdown span{
    font-size:32px;
}

.logo{
    width:100px;
}

.button{
    padding:16px;
}

}
